<div class="container-fluid">
  <div class="row align-items-center title-row">
    <div class="col text-center">
      <div class="mat-headline">Calculator</div>
    </div>
  </div>
  <div class="row input-row">
    <div class="col-2"></div>
    <div class="col-3 text-center d-flex flex-column">
      <mat-form-field>
        <mat-label>Choose currency</mat-label>
        <mat-select [(value)]="firstCurrency" (selectionChange)="updateBothValuesAndChart()">
          <mat-option *ngFor="let rate of rateTable" [value]="rate">
            {{rate.code + ' - ' + rate.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Value" type="number" [(ngModel)]="valueFirstCurrency" (keyup)="updateValuesLeft()">
      </mat-form-field>
    </div>
    <div class="col-2 text-center">
      <button mat-icon-button (click)="switchCurrencies()">
        <mat-icon>compare_arrows</mat-icon>
      </button>
    </div>
    <div class="col-3 text-center d-flex flex-column">
      <mat-form-field>
        <mat-label>Choose currency</mat-label>
        <mat-select [(value)]="secondCurrency" (selectionChange)="updateBothValuesAndChart()">
          <mat-option *ngFor="let rate of rateTable" [value]="rate">
            {{rate.code + ' - ' + rate.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Value" type="number" [(ngModel)]="valueSecondCurrency" (keyup)="updateValuesRight()">
      </mat-form-field>
    </div>
    <div class="col-2"></div>

  </div>
  <div class="row graph-row">
    <canvas baseChart
            [datasets]="chartConfig.lineChartData"
            [labels]="chartConfig.lineChartLabels"
            [options]="chartConfig.lineChartOptions"
            [legend]="true"
            [chartType]="'line'">
    </canvas>
  </div>
  <div class="row timespan-row">
    <div class="col text-center">
      <button mat-raised-button color="accent" (click)="configureChart(Period.WEEK)">1 week</button>
      <button mat-raised-button color="accent" (click)="configureChart(Period.MONTH)">1 month</button>
      <button mat-raised-button color="accent" (click)="configureChart(Period.MONTH3)">3 months</button>
      <button mat-raised-button color="accent" (click)="configureChart(Period.MONTH6)">6 months</button>
      <button mat-raised-button color="accent" (click)="configureChart(Period.YEAR)">1 year</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a mat-raised-button color="primary" routerLink="/main">Back</a>
      <div>Updated on: {{dateOfUpdate}} via api.nbp.pl</div>
    </div>
  </div>
</div>
