<div class="container-fluid">
  <div class="row align-items-center title-row">
    <div class="col text-center">
      <div class="mat-headline">Calculator</div>
    </div>
  </div>
  <div class="row input-row">
    <div class="col-6 text-center">
      <mat-form-field>
        <mat-label>Choose currency</mat-label>
        <mat-select>
          <mat-option *ngFor="let rate of exchangeTable.rates" [value]="rate.currency">
            {{rate.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6 text-center">
      <mat-form-field>
        <mat-label>Choose currency</mat-label>
        <mat-select>
          <mat-option *ngFor="let rate of exchangeTable.rates" [value]="rate.currency">
            {{rate.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row graph-row">Tutaj wykres</div>
  <div class="row">Tutaj rozne okresy czasu</div>
  <div class="row">
    <a mat-raised-button color="primary" routerLink="/main">Back</a>
    <div>Napis updated on: lololol</div>
  </div>
</div>
