<div class="container-fluid">
  <div class="row align-items-center title-row">
    <div class="col text-center">
      <div class="mat-headline">Calculator</div>
    </div>
  </div>
  <div class="row input-row">
    <div class="col-6 text-center d-flex flex-column">
      <mat-form-field>
        <mat-label>Choose currency</mat-label>
        <mat-select [(value)]="rateFirstCurrency" (selectionChange)="updateValuesLeft()">
          <mat-option *ngFor="let rate of rateTable" [value]="rate.mid">
            {{rate.code + ' - ' + rate.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Value" type="number" [(ngModel)]="valueFirstCurrency" (keyup)="onLeftCurrencyKey($event)">
      </mat-form-field>
    </div>
    <div class="col-6 text-center d-flex flex-column">
      <mat-form-field>
        <mat-label>Choose currency</mat-label>
        <mat-select [(value)]="rateSecondCurrency" (selectionChange)="updateValuesRight()">
          <mat-option *ngFor="let rate of rateTable" [value]="rate.mid">
            {{rate.code + ' - ' + rate.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Value" type="number" [(ngModel)]="valueSecondCurrency" (keyup)="onRightCurrencyKey($event)">
      </mat-form-field>
    </div>
  </div>
  <div class="row graph-row">Tutaj wykres</div>
  <div class="row">Tutaj rozne okresy czasu</div>
  <div class="row">
    <a mat-raised-button color="primary" routerLink="/main">Back</a>
    <div>Napis updated on: lololol</div>
  </div>
</div>
